<h2> New Prayer Entry: </h2>

<form action="/prayer_entries" method="post">
    
    <label for="name">Content:</label>
    <input type="text" name="content" value="">
    

    <input type="submit" name="" value="Create Prayer">

</form>

<a href="/">Back</a>